@require 'kouto-swiss'
@require 'vendor/_browsehappy'

// Reset

normalize()
box-sizing-reset()

// Main

body
  background-color #f4726d

h1
  margin-top 100px

  color: #fff
  text-align center
  text-shadow 0 2px 3px rgba(0 0 0 .4)
