@require 'vendor/_normalize'
@require 'vendor/_browsehappy'
@require '../../node_modules/jeet/stylus/jeet'

body
  background-color #f4726d

h1
  align()
  color: #fff
  text-shadow 0 2px 3px rgba(0 0 0 .4)
