script.
  (function(m,a,r,v,i,n){m.GoogleAnalyticsObject=v;m[v]||(m[v]=
  function(){(m[v].q=m[v].q||[]).push(arguments)});m[v].v=+new Date;
  i=a.createElement(r);n=a.getElementsByTagName(r)[0];
  i.src='//www.google-analytics.com/analytics.js';
  n.parentNode.insertBefore(i,n)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
